In [0]:
import pandas as pd
import numpy as np

In [0]:
nome_colunas = ['CD_MUNICIPIO', 'SG_UF', 'NM_REGIAO_SAUDE_ATUAL', 'NM_MUNICIPIO',
       'NM_REGIAO_SAUDE_ANTERIOR', 'NM_MUNICIPIOS_IN_37', 'ESTADO', 'REGIAO_PAIS']

In [0]:
df_regioes = pd.read_excel('BI_Regionais de saude.xlsx', sheet_name='Dados', skiprows=1, usecols="A:H", names=nome_colunas)

In [21]:
df_regioes.head()

   CD_MUNICIPIO SG_UF  ...   ESTADO REGIAO_PAIS
0        251320    PB  ...  PARAÍBA    NORDESTE
1        250077    PB  ...  PARAÍBA    NORDESTE
2        251000    PB  ...  PARAÍBA    NORDESTE
3        251398    PB  ...  PARAÍBA    NORDESTE
4        251620    PB  ...  PARAÍBA    NORDESTE

[5 rows x 8 columns]

In [22]:
df_regioes.shape

(5571, 8)

In [0]:
# verificar se tem regiões que abrangem mais de uma UF:
# df_regioes.groupby(['NM_REGIAO_SAUDE_ATUAL', 'SG_UF']).size()
df_unicos = df_regioes.drop_duplicates(subset=['NM_REGIAO_SAUDE_ATUAL', 'SG_UF'])

In [24]:
df_unicos.shape  #438, 8

(438, 8)

In [0]:
# Agrupa para selecionar Região de Saúde no DataFrame. Depois aplica o o metodo duplicated, para selecionar os efetivamente repetidos
linhas_duplicadas = df_regioes.groupby(['NM_REGIAO_SAUDE_ATUAL', 'SG_UF'], as_index=False).count()

In [47]:
linhas_duplicadas.shape

(438, 8)

In [49]:
# Seleciona todas as linhas duplicadas baseadas em uma lista de colunas. O parametro keep é para exibir todos os repetidos e não o último ou primeiro
linhas_duplicadas = linhas_duplicadas[linhas_duplicadas.duplicated(subset=['NM_REGIAO_SAUDE_ATUAL'], keep=False)]
linhas_duplicadas.shape  #(17, 8)
linhas_duplicadas
# Análise: Observando o campo NM_REGIAO_SAUDE_ATUAL e SG_UF, observa-se que: As regiões repetidas e que são de UF's contíguas São: Baixo Amazonas (AM e PA).
# O restante não são contíguas. Destaque para a Região de Saúde nomeada de "NORTE". Observando-se RJ e ES, que são contíguos, porém as respectivas Regiões situam-se no Norte de cada Estado.

    NM_REGIAO_SAUDE_ATUAL SG_UF  ...  ESTADO  REGIAO_PAIS
115        Baixo Amazonas    AM  ...       5            5
116        Baixo Amazonas    PA  ...      14           14
142               Central    ES  ...      18           18
143               Central    GO  ...      26           26
144               Central    RO  ...      14           14
147          Centro Norte    MT  ...       7            7
148          Centro Norte    RR  ...       9            9
251       Metropolitana I    PA  ...       5            5
252       Metropolitana I    RJ  ...      12           12
253      Metropolitana II    PA  ...       9            9
254      Metropolitana II    RJ  ...       7            7
271                 Norte    ES  ...      14           14
272                 Norte    GO  ...      13           13
273                 Norte    RJ  ...       8            8
379                   Sul    ES  ...      26           26
380                   Sul    GO  ...      12           12
381                   Sul    RR  ...       6            6

[17 rows x 8 columns]

In [0]:
# Esta linha e para agilizar o groupby. Talvez desnecessaria. Lógica do do SAS
df_regioes.sort_values(by=['NM_REGIAO_SAUDE_ATUAL', 'SG_UF'], inplace=True)

In [0]:
lista1 = df_regioes.groupby(['NM_REGIAO_SAUDE_ATUAL', 'SG_UF'])['CD_MUNICIPIO'].apply(lambda x:list(set(x)))

In [0]:
lista1 = lista1.reset_index()

In [53]:
lista1.head()

          NM_REGIAO_SAUDE_ATUAL  ...                                       CD_MUNICIPIO
0               10ª RS Cascavel  ...  [410754, 410500, 410630, 411275, 411670, 41053...
1                    10ª Região  ...  [250915, 251620, 251398, 251420, 251720, 25084...
2  10ª Região Limoeiro do Norte  ...  [230690, 230600, 230760, 231080, 231310, 23115...
3           10ª Região de Saúde  ...  [270240, 270330, 270500, 270642, 270580, 27071...
4           11ª RS Campo Mourão  ...  [412800, 410755, 411400, 410250, 410770, 41039...

[5 rows x 3 columns]

In [54]:
lista1.shape

(438, 3)

In [0]:
# Até aqui, para a região Norte, não tem Problemas
teste = lista1[lista1['NM_REGIAO_SAUDE_ATUAL']=='Norte']
# Para o caso da Região Baixo Amazonas que abrange 2 UF's, deve-se colocar a condição de agregar, para este caso, as duas UF's 
# teste = lista1[lista1['NM_REGIAO_SAUDE_ATUAL']=='Baixo Amazonas']

In [0]:
# teste.to_excel('teste2.xlsx')
lista1.to_excel('lista1.xlsx')

In [15]:
teste.shape

(2, 3)

In [16]:
teste.head()

    NM_REGIAO_SAUDE_ATUAL  ...                                       CD_MUNICIPIO
115        Baixo Amazonas  ...           [130050, 130340, 130290, 130068, 130300]
116        Baixo Amazonas  ...  [150145, 150050, 150530, 150565, 150600, 15047...

[2 rows x 3 columns]

In [83]:
teste['CD_MUNICIPIO'].str.len()

115     5
116    14
Name: CD_MUNICIPIO, dtype: int64

In [0]:
teste = lista1[lista1['NM_REGIAO_SAUDE_ATUAL']=='Baixo Amazonas']

In [86]:
teste['CD_MUNICIPIO'].str.len()

115     5
116    14
Name: CD_MUNICIPIO, dtype: int64

In [0]:
# verificar se tem regiões (ANTERIOR que abrangem mais de uma UF:
# df_regioes.groupby(['NM_REGIAO_SAUDE_ANTERIOR', 'SG_UF']).size()
df_unicos = df_regioes.drop_duplicates(subset=['NM_REGIAO_SAUDE_ANTERIOR', 'SG_UF'])

In [58]:
df_unicos.shape  #362, 8

(362, 8)

In [59]:
# Agrupa para selecionar Região de Saúde no DataFrame. Depois aplica o o metodo duplicated, para selecionar os efetivamente repetidos
linhas_duplicadas = df_regioes.groupby(['NM_REGIAO_SAUDE_ANTERIOR', 'SG_UF'], as_index=False).count()
linhas_duplicadas.shape # 358, 8

(358, 8)

In [60]:
# Seleciona todas as linhas duplicadas baseadas em uma lista de colunas. O parametro keep é para exibir todos os repetidos e não o último ou primeiro
linhas_duplicadas = linhas_duplicadas[linhas_duplicadas.duplicated(subset=['NM_REGIAO_SAUDE_ANTERIOR'], keep=False)]
linhas_duplicadas.shape  #(17, 8)
linhas_duplicadas
# Análise: Observando o campo NM_REGIAO_SAUDE_ANTERIOR e SG_UF, observa-se que: As regiões repetidas e que são de UF's contíguas São: Baixo Amazonas (AM e PA).
# O restante não são contíguas.

    NM_REGIAO_SAUDE_ANTERIOR SG_UF  ...  ESTADO  REGIAO_PAIS
26            Baixo Amazonas    AM  ...       5            5
27            Baixo Amazonas    PA  ...       9            9
187            Metropolitana    PA  ...       5            5
188            Metropolitana    PR  ...      29           29
211                    Norte    GO  ...      13           13
212                    Norte    RJ  ...       8            8

[6 rows x 8 columns]

In [0]:
# =========================================

In [0]:
# Agora a lista para a Região de Saúde anterior
df_regioes.sort_values(by=['NM_REGIAO_SAUDE_ANTERIOR', 'SG_UF'], inplace=True)

In [0]:
lista2 = df_regioes.groupby(['NM_REGIAO_SAUDE_ANTERIOR', 'SG_UF'])['CD_MUNICIPIO'].apply(lambda x:list(set(x)))

In [0]:
lista2 = lista2.reset_index()

In [65]:
lista2.shape

(358, 3)

In [0]:
lista2.to_excel('lista2.xlsx')

In [0]:
# =========================================
# OPERAÇÕES DE CONCATENAÇÃO DAS LISTAS DE MUNICIPIOS COM O DATAFRAME ORIGINAL

In [0]:
df_regioes_concat1 = pd.merge(df_regioes, lista1, how = 'left', left_on=['NM_REGIAO_SAUDE_ATUAL','SG_UF'], right_on=['NM_REGIAO_SAUDE_ATUAL','SG_UF'])

In [81]:
df_regioes_concat1.head()

   CD_MUNICIPIO_x  ...                                     CD_MUNICIPIO_y
0          230655  ...  [230020, 230725, 230890, 230230, 230425, 23078...
1          230725  ...  [230020, 230725, 230890, 230230, 230425, 23078...
2          230780  ...  [230020, 230725, 230890, 230230, 230425, 23078...
3          230020  ...  [230020, 230725, 230890, 230230, 230425, 23078...
4          230230  ...  [230020, 230725, 230890, 230230, 230425, 23078...

[5 rows x 9 columns]

In [0]:
teste = df_regioes_concat1[df_regioes_concat1['NM_REGIAO_SAUDE_ATUAL']=='Norte']

In [0]:
teste.to_excel('teste.xlsx')

In [0]:
df_regioes_concat1.rename(columns={'CD_MUNICIPIO_y':'lista_regiao_atual'}, inplace=True)

In [0]:
df_regioes_concat2 = pd.merge(df_regioes, lista2, how = 'left', left_on=['NM_REGIAO_SAUDE_ANTERIOR','SG_UF'], right_on=['NM_REGIAO_SAUDE_ANTERIOR','SG_UF'])

In [36]:
df_regioes_concat2.head()

   CD_MUNICIPIO_x  ...                                     CD_MUNICIPIO_y
0          230655  ...  [230020, 230725, 230890, 230230, 230425, 23078...
1          230725  ...  [230020, 230725, 230890, 230230, 230425, 23078...
2          230780  ...  [230020, 230725, 230890, 230230, 230425, 23078...
3          230020  ...  [230020, 230725, 230890, 230230, 230425, 23078...
4          230230  ...  [230020, 230725, 230890, 230230, 230425, 23078...

[5 rows x 10 columns]

In [0]:
df_regioes_concat2.rename(columns={'CD_MUNICIPIO_y':'lista_regiao_anterior'}, inplace=True)

In [0]:
colunas_mantidas = df_regioes_concat2.columns.difference(df_regioes_concat1.columns)

In [41]:
colunas_mantidas

Index(['lista_regiao_anterior'], dtype='object')

In [0]:
df_regioes_concat = pd.merge(df_regioes_concat1, df_regioes_concat2[colunas_mantidas], left_index=True, right_index=True, how='outer')

In [57]:
df_regioes_concat.head()

  CD_MUNICIPIO  ... flag_atual
0       230655  ...          0
1       230725  ...          0
2       230780  ...          0
3       230020  ...          0
4       230230  ...          0

[5 rows x 12 columns]

In [0]:
df_regioes_concat.rename(columns={'CD_MUNICIPIO_x':'CD_MUNICIPIO'}, inplace=True)

In [0]:
df_regioes_concat['flag_atual'] = np.where(df_regioes_concat['lista_regiao_atual'] == df_regioes_concat['lista_regiao_anterior'], 0, 1)

In [0]:
df_municipios = pd.read_excel('AR_BR_RG_UF_MES_MIC_MUN_2018.xls')

In [51]:
df_municipios.head()

    ID  CD_GCUF     NM_UF  ...            NM_MUN_2018  AR_MUN_2018 CD_MUNICIPIO_NDV
0  1.0     11.0  Rondônia  ...  ALTA FLORESTA D'OESTE     7067.025           110001
1  2.0     11.0  Rondônia  ...              ARIQUEMES     4426.571           110002
2  3.0     11.0  Rondônia  ...                 CABIXI     1314.352           110003
3  4.0     11.0  Rondônia  ...                 CACOAL     3792.892           110004
4  5.0     11.0  Rondônia  ...             CEREJEIRAS     2783.300           110005

[5 rows x 8 columns]

In [0]:
df_municipios.dropna(axis=0, how='any', subset=['CD_GCMUN'], inplace=True)

In [0]:
df_municipios['CD_MUNICIPIO_NDV'] = df_municipios['CD_GCMUN'].astype(str).str[:6]

In [50]:
type(df_municipios['CD_MUNICIPIO_NDV'][0])

str

In [0]:
df_regioes_concat['CD_MUNICIPIO'] = df_regioes_concat['CD_MUNICIPIO'].astype(str)

In [0]:
df_diferenca = pd.merge(df_regioes_concat, df_municipios, how = 'outer', left_on='CD_MUNICIPIO', right_on='CD_MUNICIPIO_NDV')

In [0]:
df_diferenca_qgis = df_diferenca[df_diferenca['flag_atual']==1]

In [0]:
df_regioes_concat.rename(columns={'SG_UF_x':'SG_UF'}, inplace=True)

In [0]:
df_regioes_concat.to_excel('teste.xlsx')

In [55]:
df_regioes_concat.head()

  CD_MUNICIPIO  ... flag_atual
0       230655  ...          0
1       230725  ...          0
2       230780  ...          0
3       230020  ...          0
4       230230  ...          0

[5 rows x 12 columns]

In [0]:
resumo1 = df_regioes_concat[['SG_UF', 'NM_MUNICIPIO', 'NM_REGIAO_SAUDE_ATUAL']]

In [0]:
df_reg_mesmos_municipios = df_regioes_concat[df_regioes_concat['flag_atual']==0]

In [65]:
df_reg_mesmos_municipios.shape

(402, 12)

In [0]:
municipios_sem_mudar_regiao = df_reg_mesmos_municipios.shape[0]

In [70]:
municipios_sem_mudar_regiao

402

In [71]:
df_reg_mesmos_municipios.groupby('NM_REGIAO_SAUDE_ATUAL').count()

                                CD_MUNICIPIO  ...  flag_atual
NM_REGIAO_SAUDE_ATUAL                         ...
10ª RS Cascavel                           21  ...          21
11ª RS Campo Mourão                       21  ...          21
12ª Região Acaraú                          7  ...           7
16ª RS Apucarana                          17  ...          17
16ª Região Camocim                         1  ...           1
19ª Região Brejo Santo                     8  ...           8
4ª Região Baturité                         7  ...           7
5ª Região Canindé                          2  ...           2
Afogados da Ingazeira                     12  ...          12
Alagoinhas                                18  ...          18
Alto Acre                                  3  ...           3
Alto Tapajós                               6  ...           6
Arcoverde                                 13  ...          13
Açailândia                                 4  ...           4
Baia da Ilha Grande                        2  ...           2
Baixada Cuiabana                          11  ...          11
Baixada Litorânea                          9  ...           9
Baixada Santista                           9  ...           9
Baixo Amazonas                            13  ...          13
Barreiras                                 14  ...          14
Caruaru                                   28  ...          28
Extremo Sul Catarinense                   15  ...          15
Garças Araguaia                            9  ...           9
Região 03 - Fronteira Oeste               10  ...          10
Região 12 - Portal das Missões            12  ...          12
Região 13 - Diversidade                   19  ...          19
Região 14 - Fronteira Noroeste            21  ...          21
Região 20 - Rota da Produção              25  ...          25
Região 21 - Sul                           21  ...          21
Região 22 - Pampa                          5  ...           5
Região 27 - Jacuí Centro                  11  ...          11
Região 28 - Vinte e Oito                  12  ...          12
Rio Caetés                                16  ...          16

[33 rows x 11 columns]

In [72]:
df_reg_mesmos_municipios.groupby('NM_REGIAO_SAUDE_ANTERIOR').count()

                             CD_MUNICIPIO  ...  flag_atual
NM_REGIAO_SAUDE_ANTERIOR                   ...
Acaraú                                  7  ...           7
Afogados da Ingazeira                  12  ...          12
Alagoinhas                             18  ...          18
Alta Floresta                           6  ...           6
Apucarana                              17  ...          17
Araranguá                              15  ...          15
Arcoverde                              13  ...          13
Bacia Atlântico-Caetés                 16  ...          16
Baixada Cuiabana                       11  ...          11
Baixada Litorânea                       9  ...           9
Baixada Santista                        9  ...           9
Baixo Amazonas                         13  ...          13
Barra do Garças                         9  ...           9
Barreiras                              14  ...          14
Baturité                                7  ...           7
Baía da Ilha Grande                     2  ...           2
Brasiléia                               3  ...           3
Brejo Santo                             8  ...           8
CRS 03 Pelotas                         21  ...          21
CRS 07 Bagé                             5  ...           5
CRS 08 Cachoeira do Sul                11  ...          11
CRS 09 Cruz Alta                       12  ...          12
CRS 10 Alegrete                        10  ...          10
CRS 13 Santa Cruz do Sul               12  ...          12
CRS 14 Santa Rosa                      21  ...          21
CRS 15 Palmeira das Missões            25  ...          25
CRS 17 Ijuí                            19  ...          19
Camocim                                 1  ...           1
Campo Mourão                           21  ...          21
Canindé                                 2  ...           2
Carajás                                 4  ...           4
Caruaru                                28  ...          28
Cascavel                               21  ...          21

[33 rows x 11 columns]

In [0]:
resumo2 = df_reg_mesmos_municipios.groupby(['NM_REGIAO_SAUDE_ATUAL','NM_REGIAO_SAUDE_ANTERIOR', 'SG_UF']).count()['CD_MUNICIPIO'].reset_index()

In [0]:
resumo2.sort_values('CD_MUNICIPIO', ascending=False, inplace=True)

In [76]:
resumo2

             NM_REGIAO_SAUDE_ATUAL  ... CD_MUNICIPIO
21                         Caruaru  ...           28
28    Região 20 - Rota da Produção  ...           25
0                  10ª RS Cascavel  ...           21
29                 Região 21 - Sul  ...           21
27  Região 14 - Fronteira Noroeste  ...           21
1              11ª RS Campo Mourão  ...           21
26         Região 13 - Diversidade  ...           19
9                       Alagoinhas  ...           18
3                 16ª RS Apucarana  ...           17
33                      Rio Caetés  ...           16
22         Extremo Sul Catarinense  ...           15
20                       Barreiras  ...           14
12                       Arcoverde  ...           13
32        Região 28 - Vinte e Oito  ...           12
25  Região 12 - Portal das Missões  ...           12
8            Afogados da Ingazeira  ...           12
31        Região 27 - Jacuí Centro  ...           11
15                Baixada Cuiabana  ...           11
24     Região 03 - Fronteira Oeste  ...           10
23                 Garças Araguaia  ...            9
17                Baixada Santista  ...            9
16               Baixada Litorânea  ...            9
19                  Baixo Amazonas  ...            8
5           19ª Região Brejo Santo  ...            8
6               4ª Região Baturité  ...            7
2                12ª Região Acaraú  ...            7
11                    Alto Tapajós  ...            6
18                  Baixo Amazonas  ...            5
30               Região 22 - Pampa  ...            5
13                      Açailândia  ...            4
10                       Alto Acre  ...            3
7                5ª Região Canindé  ...            2
14             Baia da Ilha Grande  ...            2
4               16ª Região Camocim  ...            1

[34 rows x 4 columns]

In [0]:
df_regioes_concat.sort_values('SG_UF', ascending=True, inplace=True)

In [0]:
for row in df_regioes_concat.loc[df_regioes_concat['lista_regiao_anterior'].isnull(), 'lista_regiao_anterior'].index:
    df_regioes_concat.at[row, 'lista_regiao_anterior'] = []

In [80]:
df_regioes_concat[df_regioes_concat['lista_regiao_anterior'].isnull()]

Empty DataFrame
Columns: [CD_MUNICIPIO, SG_UF, NM_REGIAO_SAUDE_ATUAL, NM_MUNICIPIO, NM_REGIAO_SAUDE_ANTERIOR, NM_MUNICIPIOS_IN_37, Estado, Regiao, SG_UF_y, lista_regiao_atual, lista_regiao_anterior, flag_atual]
Index: []

In [0]:
df_regioes_concat['flag_municipio_entrou'] = df_regioes_concat['lista_regiao_atual'].map(set) - df_regioes_concat['lista_regiao_anterior'].map(set)

In [0]:
df_regioes_concat['flag_municipio_saiu'] = df_regioes_concat['lista_regiao_anterior'].map(set) - df_regioes_concat['lista_regiao_atual'].map(set)

In [84]:
df_regioes_concat[df_regioes_concat['NM_REGIAO_SAUDE_ATUAL']=='Baixo Acre e Purus']

     CD_MUNICIPIO  ...                                flag_municipio_saiu
1565       120032  ...  {110080, 110020, 110026, 110060, 110094, 11017...
15         120001  ...                                                 {}
14         120013  ...                                                 {}
13         120017  ...                                                 {}
16         120080  ...                                                 {}
11         120038  ...                                                 {}
10         120040  ...                                                 {}
9          120043  ...                                                 {}
8          120050  ...                                                 {}
7          120045  ...                                                 {}
12         120034  ...                                                 {}

[11 rows x 14 columns]

In [100]:
df_regioes_concat[df_regioes_concat['NM_REGIAO_SAUDE_ATUAL']=='Norte']

     CD_MUNICIPIO SG_UF  ... cont_municipio_entrou cont_municipio_saiu
4472       320515    ES  ...                     8                  35
4471       320515    ES  ...                    13                  35
4470       320515    ES  ...                    14                  35
4469       320390    ES  ...                     8                   9
4468       320390    ES  ...                    13                   9
4467       320390    ES  ...                    14                   9
4473       320016    ES  ...                    14                  35
4466       320090    ES  ...                     8                   9
4464       320090    ES  ...                    14                   9
4465       320090    ES  ...                    13                   9
4474       320016    ES  ...                    13                  35
4476       320210    ES  ...                    14                  35
4475       320016    ES  ...                     8                  35
4481       320100    ES  ...                     8                  35
4480       320100    ES  ...                    13                  35
4479       320100    ES  ...                    14                  35
4478       320210    ES  ...                     8                  35
4477       320210    ES  ...                    13                  35
4482       320425    ES  ...                    14                  35
4485       320410    ES  ...                    14                  35
4505       320160    ES  ...                     8                  14
4504       320160    ES  ...                    13                  35
4503       320160    ES  ...                    14                  35
4493       320305    ES  ...                     8                  35
4492       320305    ES  ...                    13                  35
4491       320305    ES  ...                    14                  35
4490       320405    ES  ...                     8                  35
4489       320405    ES  ...                    13                  35
4488       320405    ES  ...                    14                  35
4487       320410    ES  ...                     8                  35
...           ...   ...  ...                   ...                 ...
3319       520465    GO  ...                    14                  22
3320       520465    GO  ...                    13                  22
3321       520465    GO  ...                     8                  22
3322       520750    GO  ...                    14                  22
3323       520750    GO  ...                    13                  22
3324       520750    GO  ...                     8                  22
3370       330500    RJ  ...                    14                  28
3369       330093    RJ  ...                     8                  28
3371       330500    RJ  ...                    13                  28
3377       330475    RJ  ...                    13                  24
3375       330480    RJ  ...                     8                  28
3368       330093    RJ  ...                    13                  28
3374       330480    RJ  ...                    13                  28
3373       330480    RJ  ...                    14                  28
3372       330500    RJ  ...                     8                  28
3378       330475    RJ  ...                     8                  24
3367       330093    RJ  ...                    14                  28
3365       330100    RJ  ...                    13                  28
3364       330100    RJ  ...                    14                  28
3363       330415    RJ  ...                     8                  28
3362       330415    RJ  ...                    13                  28
3361       330415    RJ  ...                    14                  28
3360       330140    RJ  ...                     8                  28
3359       330140    RJ  ...                    13                  28
3366       330100    RJ  ...                     8                  28
3358       330140    RJ  ...                    14                  28
3357       330240    RJ  ...                     8                  28
3356       330240    RJ  ...                    13                  28
3355       330240    RJ  ...                    14                  28
3376       330475    RJ  ...                    14                  24

[105 rows x 16 columns]

In [0]:
df_regioes_concat['cont_municipio_entrou'] = [len(x) for x in df_regioes_concat['flag_municipio_entrou']]

In [0]:
df_regioes_concat['cont_municipio_saiu'] = [len(x) for x in df_regioes_concat['flag_municipio_saiu']]

In [87]:
df_regioes_concat[(df_regioes_concat['flag_atual']==0)&(df_regioes_concat['cont_municipio_entrou']>1)]

Empty DataFrame
Columns: [CD_MUNICIPIO, SG_UF, NM_REGIAO_SAUDE_ATUAL, NM_MUNICIPIO, NM_REGIAO_SAUDE_ANTERIOR, NM_MUNICIPIOS_IN_37, Estado, Regiao, SG_UF_y, lista_regiao_atual, lista_regiao_anterior, flag_atual, flag_municipio_entrou, flag_municipio_saiu, cont_municipio_entrou, cont_municipio_saiu]
Index: []

In [88]:
df_regioes_concat[(df_regioes_concat['flag_atual']==0)&(df_regioes_concat['cont_municipio_saiu']>1)]

Empty DataFrame
Columns: [CD_MUNICIPIO, SG_UF, NM_REGIAO_SAUDE_ATUAL, NM_MUNICIPIO, NM_REGIAO_SAUDE_ANTERIOR, NM_MUNICIPIOS_IN_37, Estado, Regiao, SG_UF_y, lista_regiao_atual, lista_regiao_anterior, flag_atual, flag_municipio_entrou, flag_municipio_saiu, cont_municipio_entrou, cont_municipio_saiu]
Index: []

In [0]:
df_estatistica_entrada = df_regioes_concat[(df_regioes_concat['flag_atual']==1)&(df_regioes_concat['cont_municipio_entrou']!=0)]

In [91]:
df_estatistica_entrada.shape

(4983, 16)

In [0]:
df_result_atual = df_estatistica_entrada.groupby(['SG_UF','NM_REGIAO_SAUDE_ATUAL'])['cont_municipio_entrou', 'cont_municipio_saiu'].agg(['count','min','max','mean']).reset_index()

In [93]:
df_result_atual

    SG_UF             NM_REGIAO_SAUDE_ATUAL  ... cont_municipio_saiu
                                             ...                 max       mean
0      AC                         Alto Acre  ...                   8   8.000000
1      AC                Baixo Acre e Purus  ...                  15   1.363636
2      AC           Juruá e Tarauacá/Envira  ...                  34  25.857143
3      AL               10ª Região de Saúde  ...                   9   9.000000
4      AL                1ª Região de Saúde  ...                  14   9.166667
5      AL                2ª Região de Saúde  ...                  10  10.000000
6      AL                3ª Região de Saúde  ...                  13  13.000000
7      AL                4ª Região de Saúde  ...                  16  14.444444
8      AL                5ª Região de Saúde  ...                  14  14.000000
9      AL                6ª Região de Saúde  ...                   9   6.750000
10     AL                7ª Região de Saúde  ...                  16  14.705882
11     AL                8ª Região de Saúde  ...                  14  14.000000
12     AL                9ª Região de Saúde  ...                  16  13.428571
13     AM                     Alto Solimões  ...                  10   2.222222
14     AM                    Baixo Amazonas  ...                   1   1.000000
15     AM  Manaus, Entorno e Alto Rio Negro  ...                  14  10.000000
16     AM                    Médio Amazonas  ...                   7   7.000000
17     AM                    Regional Juruá  ...                  49  37.666667
18     AM              Rio Negro e Solimões  ...                  19  18.000000
19     AM                         Triângulo  ...                  49  49.000000
20     AP                      Área Central  ...                  25  25.000000
21     AP                        Área Norte  ...                  25  25.000000
22     AP                     Área Sudoeste  ...                  25  25.000000
23     BA                         Barreiras  ...                  10  10.000000
24     BA                           Brumado  ...                   9   0.571429
25     BA                          Camaçari  ...                  48  40.000000
26     BA                    Cruz das Almas  ...                  15  15.000000
27     BA                  Feira de Santana  ...                  27  21.464286
28     BA                          Guanambi  ...                  28  14.190476
29     BA                         Ibotirama  ...                  24  24.000000
..    ...                               ...  ...                 ...        ...
363    SP                           Limeira  ...                  54  18.750000
364    SP                     Litoral Norte  ...                  21  21.000000
365    SP                        Mananciais  ...                  27  17.375000
366    SP                       Mantiqueira  ...                  28  23.500000
367    SP                           Marília  ...                  29  16.368421
368    SP                          Ourinhos  ...                  29  16.384615
369    SP                        Piracicaba  ...                  54  54.000000
370    SP            Pontal do Paranapanema  ...                  24  24.000000
371    SP  Região Metropolitana de Campinas  ...                  25  25.000000
372    SP                         Rio Claro  ...                  54  54.000000
373    SP                         Rio Pardo  ...                  22  22.000000
374    SP             Rota dos Bandeirantes  ...                  27  27.000000
375    SP                   Santa Fé do Sul  ...                  42  42.000000
376    SP                          Sorocaba  ...                  26  22.500000
377    SP             São José do Rio Preto  ...                  42  42.000000
378    SP                         São Paulo  ...                  27  27.000000
379    SP                      Três Colinas  ...                  21  18.000000
380    SP                              Tupã  ...                  12  12.000000
381    SP               Vale das Cachoeiras  ...                   9   9.000000
382    SP    Vale do Paraíba/Região Serrana  ...                  21  21.000000
383    SP                   Vale do Ribeira  ...                  24  16.000000
384    SP                       Votuporanga  ...                  28  16.470588
385    TO                     Amor Perfeito  ...                  18  18.000000
386    TO                  Bico do Papagaio  ...                  28  20.000000
387    TO                            Cantão  ...                  28  27.333333
388    TO                     Capim Dourado  ...                  28  21.928571
389    TO        Cerrado Tocantins Araguaia  ...                  11   7.826087
390    TO                   Ilha do Bananal  ...                  16  11.055556
391    TO              Médio Norte Araguaia  ...                  28  25.352941
392    TO                           Sudeste  ...                  26  14.733333

[393 rows x 10 columns]

In [0]:
df_result_anterior = df_estatistica_entrada.groupby(['SG_UF','NM_REGIAO_SAUDE_ANTERIOR'])['cont_municipio_entrou', 'cont_municipio_saiu'].agg(['count','min','max','mean']).reset_index()

In [95]:
df_result_anterior.head()

  SG_UF NM_REGIAO_SAUDE_ANTERIOR cont_municipio_entrou  ... cont_municipio_saiu
                                                 count  ...                 min max       mean
0    AC                     Acre                    10  ...                   0   0   0.000000
1    AC                Brasiléia                     1  ...                   8   8   8.000000
2    AC          Cruzeiro do Sul                     8  ...                  15  34  24.500000
3    AL                Região 01                    27  ...                   8  14  10.518519
4    AL                Região 02                    15  ...                   6  14  10.133333

[5 rows x 10 columns]

In [0]:
df_result_atual.to_excel('resultado_atual.xlsx')

In [0]:
df_result_anterior.to_excel('resultado_anterior.xlsx')

In [0]:
df_estatistica_entrada.to_excel('resumo_geral_movimentacao.xlsx')